.metadata/
*.pyc
*.log
*.pydevsysteminfo
pepper/.settings/org.eclipse.core.resources.prefs
*.pyc
*.pyc
CommonLib/src/kmxPyQt/devConsole3/ToTransfer/*
*.lyt
*.tbs
*.pyc
PyOne_BIN
today
PyOne_BIN.7z
Splitted
/PyOneApplication/src/bin
__pycache__
